<section class="filter">
  <nav>
      <ul>
          <li class="deroulant"><a href="#">Films &ensp;</a>
              <ul class="sous">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Comédie</a></li>
                  <li><a href="#">Horreur</a></li>
              </ul>
          </li>

          <li class="deroulant"><a href="#">Série</a>
              <ul class="sous">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Comédie</a></li>
                  <li><a href="#">Horreur</a></li>
              </ul>
          </li>

          <li class="deroulant"><a href="#">Animés</a>
              <ul class="sous">
                  <li><a href="#">Films</a></li>
                  <li><a href="#">Séries</a></li>

              </ul>
          </li>

          <li class="link"><a href="#">Les mieux notés </a></li>
      </ul>
  </nav>
</section>
