*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* STYLE HEADER */

.header{
    height: 10vh;
    background-color: #101010;
    display: flex;
    justify-content: space-between;
    line-height: 10vh;

}

.title{
    color: #2D88FB;
    font-size: 2em;
    margin-left: 90px;
}


.header li{
    margin: 10px;
    width: 150px;
    height: 70%;
    border-radius: 30px;
    border: solid #2D88FB 1px;
    color: white;
    list-style-type:none;
    font-size: 1.4em;
    text-align: center;
    line-height: 7.1vh;
    
}

.header li:hover{

    transform: translateY(-1px);
    box-shadow: 0 4px 10px rgba(45, 136, 251, 0.55);

}

.header a{
    text-decoration: none;
}

.main{
    min-height: 90vh;
    max-height: auto;
    background-color: #101010;
}

.filter{
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    background-color: #202020;
    margin-bottom: 10px;
}


nav{
    line-height: 7vh;
    width: 100%;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    font-size: 1em;
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
    font-size: 1em;
}

nav a{
    height: 100%;
    display: block;
    text-decoration: none;
    color:white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{

    border-bottom: 2px solid #2D88FB;
}

.sous{
    display: none;
    background-color: #202020;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
    font-size:  15px;
    line-height: 14px;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 0;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    color: #2762f3;
    background-color: #101010;
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
    color: #2762f3;
}

.list_movies{

    display: flex;
    justify-content: space-between;
}

.list_movies li{

    width: 20%;
}

.movie{
    width: 90%;
    border: solid 2px rgb(45, 136, 251) ;
    height: 500px;
    border-radius:  50px;
    margin-top: 10px;
}

.movie:hover{
    transform: translateY(-6px);
  
    box-shadow: 0 4px 17px rgba(45, 136, 251, 0.75);
  }
