
<section>
  <ul class="list_movies">
      <li>
          <div class="movie">

              <div class="name">

              </div>

          </div>
      </li>
      <li>
          <div class="movie">

              <div class="name">

              </div>

          </div>
      </li>
      <li>
          <div class="movie">

              <div class="name">

              </div>

          </div>
      </li>
      <li>
          <div class="movie">

              <div class="name">

              </div>

          </div>
      </li>
  </ul>
</section>
